version: "3.7"
services:
  #############################################################################################
  ###                                         API                                           ###
  #############################################################################################
  wf-api:
    container_name: wf-api 
    build:
      context: ./src/api
      dockerfile: Dockerfile
    environment:
      - API_PORT=${API_PORT:-3000}
      - API_HOSTNAME=${API_HOSTNAME:-localhost}
      - MONGO_USERNAME=${MONGO_USERNAME:-wf-admin}
      - MONGO_PASSWORD=${MONGO_PASSWORD:-wf-admin}
      - MONGO_PORT=${MONGO_PORT:-27017}
      - MONGO_DATABASE=${MONGO_DATABASE:-wf-db}
      - MONGO_SERVICE=${MONGO_SERVICE:-mongodb}
      - CONTAINERIZED=true
    networks:
      - wf-network
    ports:
      - ${PORT:-3000}:3000
    healthcheck:
      test: curl localhost:${PORT:-3000}/api/health | grep 'Project Wayfinder API is healthy and ready'
      interval: 20s
      timeout: 30s
      retries: 5
      start_period: 20s
    depends_on:
      mongo:
        condition: service_healthy

  #############################################################################################
  ###                                       Frontend                                        ###
  #############################################################################################
  wf-app:
    container_name: wf-app
    build:
      context: ./src/frontend-pwa
      dockerfile: Dockerfile
    environment:
      - VITE_API_HOSTNAME=${VITE_API_HOSTNAME:-localhost:3000}
    networks:
      - wf-network
    ports: 
      - "5173:5173"
    healthcheck:
      test: curl --fail http://localhost:5173 || exit 1
      interval: 20s
      timeout: 30s
      retries: 5
      start_period: 20s
    depends_on:
      wf-api:
        condition: service_healthy

  #############################################################################################
  ###                                       Mongo                                           ###
  #############################################################################################
  mongo:
    image: mongo:3.6
    container_name: mongodb
    tty: true
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_DATABASE_NAME=${MONGO_DATABASE:-wf-db}
    volumes:
      - ./src/mongoSeed/init:/docker-entrypoint-initdb.d
    ports:
      - ${MONGO_PORT:-27017}:${MONGO_PORT:-27017}
    networks:
      - wf-network
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' | mongo admin -u ${MONGO_USERNAME} -p ${MONGO_PASSWORD} --quiet | grep 1
      interval: 20s
      timeout: 30s
      retries: 5
      start_period: 120s

#############################################################################################
###                                       Network                                         ###
#############################################################################################

networks:
  wf-network:
    driver: "bridge"
