:root, #root {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body, html {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
